body {
  background-color: rgb(219, 237, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}
.container {
  display: flex;
  align-items: center;
}
.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  text-align: center;
  padding: 20px;
}
.building img {
  width: 100%;
  border-radius: 15px;
}
.h11 {
  font-size: 25px;
}
.para {
  font-size: 18px;
  margin-top: 10px;
  color: slategray;
}
